@import "./animations.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

#transition-container {
  transition: opacity 0.5s ease-in-out;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 220 35% 80%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border cursor-none;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  #cursor {
    transition: background-color .2s ease-in-out, height .2s ease-in-out, width .2s ease-in-out, border-radius .2s ease-in-out;
  }
  #cursor.-filling {
    transition: top .2s cubic-bezier(0,.1,.1,1), left .25s cubic-bezier(0,.1,.1,1), background-color .2s ease-in-out, height .2s ease-in-out, width .2s ease-in-out, border-radius .2s ease-in-out;
  }
  #cursor.-static-position {
    transition: none;
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .type-h1 {
    @apply scroll-m-20 text-4xl tracking-tight lg:text-5xl;
  }
  .type-h2 {
    @apply scroll-m-20 border-b pb-2 text-3xl tracking-tight first:mt-0;
  }
  .type-h3 {
    @apply scroll-m-20 text-2xl tracking-tight;
  }
  .type-h4 {
    @apply scroll-m-20 text-xl tracking-tight;
  }
  .type-p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }
  .type-large {
    @apply text-lg font-semibold;
  }
  .type-small {
    @apply text-sm font-medium leading-none;
  }
  .type-muted {
    @apply text-sm text-muted-foreground;
  }
  .dashed-border {
    @apply bg-gradient-to-b from-slate-700 from-60% to-transparent to-60%;
    background-position: right;
    background-size: 1px 12px;
    background-repeat: repeat-y;
  }
  .highlighted {
    @apply relative hover:after:w-[140%] after:transition-all after:duration-200 after:ease-out-quart;
    @apply after:content-[''] after:w-0 after:h-1/2 after:absolute after:top-[18px] after:left-2 after:bg-foreground after:mix-blend-difference;
  }
}

@layer utilities {
  .filter-muted-foreground {
    @apply [filter:brightness(0)_saturate(100%)_invert(74%)_sepia(5%)_saturate(1231%)_hue-rotate(176deg)_brightness(88%)_contrast(84%)];
  }
}
